@model Inventario.GUI.Models.Parametros.ModeloCargaImagenProducto
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

@using (Html.BeginForm("UploadFile", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>
                <label>
                    Seleccionar Archivo
                </label>
            </td>
            <td>
                @Html.TextBox("archivo", "", new { Type = "file" })
            </td>
            <td>
                <input type="submit" value="Cargar Archivo" class="btn btn-primary" />
            </td>
        </tr>
        <tr>
            <td colspan="=" 3>
                <strong>@ViewBag.UploadFileMessage</strong>
            </td>
        </tr>
    </table>
}
